.featured-content__wrapper{
   @media screen and (min-width: 768px){
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      
      margin-left: -15px;
      margin-right: -15px;
    }
}


.featured-content--text{
  @media screen and (min-width: 768px){
    -webkit-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;    
    justify-content: flex-start;
    align-content: space-between;
    margin:15px;
   }
}
